:root {
    --primary-color: #E7B748;
    --secondary-color: #b98d26;
    --tertiary-color: #FDEFCC;
    --background-color: #FDFDFD;

    --progress-bar-position: var(--margin-default-x);
}

.highlight {
    font-weight: bold;
    color: var(--secondary-color);
}
