@media screen and (min-width: 1024px) {
    #menu-mobile {
        display: none;
    }

    #home .profile-picture-mobile {
        display: none;
        width: 100%;
    }

    .mobile-only {
        display: none;
    }
}


@media screen and (max-width: 1024px) {
    main {
        display: flex;
    }

    .desktop-only {
        display: none;
    }

    .container {
        margin-left: var(--margin-default-x);
        margin-right: var(--margin-default-x);
        padding-left: var(--margin-default-x);
        padding-right: var(--margin-default-x);
    }

    .introduction {
        flex-direction: column;
    }

    /* Home */

    #home .profile-picture {
        display: none;
    }

    #home .headline {
        text-align: center;
    }

    #home .sub-headline {
        text-align: center;
    }

    #use-case .headline {
        width: 100%;
    }

    #use-case {
        padding-left: var(--margin-large-x);
        padding-right: var(--margin-large-x);
    }

    #use-case-intro {
        border-radius: 0 0 0 0;
        padding-bottom: var(--margin-large-x);
        padding-left: var(--margin-extra-large-x);
        padding-right: var(--margin-extra-large-x);
    }

    .introduction-text {
        padding-top: var(--margin-large-y);
    }

    /* Menu */

    #menu-desktop {
        visibility: hidden;
    }

    #menu-mobile {
        z-index: 1000;
        position: fixed;
        height: 32px;
        width: 100%;

        background-color: var(--white);
        box-shadow: var(--box-shadow-menu);

        display: flex;
        align-content: space-between;
        justify-content: center;

        padding-top: var(--margin-default-y);
        padding-bottom: var(--margin-default-y);
    }

    #menu-mobile .menu-item {
        font-size: var(--font-size-small);
        padding: 8px;
        font-family: 'PT Mono', serif;
        text-decoration: none;
        color: var(--black);
    }

    #menu-mobile .menu-item.active {
        color: var(--primary-color);
    }

    /* Content wrap */

    .content-wrap {
        min-height: 50vh;
    }

    /* Columns */

    /* Content title */
    .content-title {
        padding-bottom: var(--margin-default-y);
        text-align: left;
    }

    /* 1 column */

    .col-1 img,
    .col-1 .col img {
        width: 100%;
        height: 100%;
        max-width: 400px;
    }

    .col-1 .col {
        padding-top: var(--margin-default-y);
        padding-bottom: var(--margin-default-y);
    }

    /* 2 columns */

    .col-2 {
        flex-direction: column;
        margin-bottom: var(--margin-extra-large-y);
    }

    .col-2 .col {
        width: 100%;
        padding-top: var(--margin-medium-y);
        padding-bottom: var(--margin-default-y);
    }

    .col-2 img {
        width: 100%;
        height: 100%;
        max-width: 400px;
    }


    /* 3 columns */

    .col-3 {
        flex-direction: column;
    }

    .col-3 .col {
        width: 100%;
        padding-top: var(--margin-medium-y);
        padding-bottom: var(--margin-default-y);
    }

    .col-3 img {
        width: 100%;
        height: 100%;
        max-width: 400px;
    }

    /* Buttons */

    a.cta-button {
        text-align: center;
    }

    /* Blobs */
    #blob2 {
        margin: 0;
    }
}