@media screen and (max-width: 1024px) {
    :root {
        font-size: 14px;
    }

    :root {
        --font-size-default: var(--font-size-default);
        --font-size-small: 0.75rem;
        --font-size-large: 1.5rem;
        --font-size-extra-large: 2rem;

        --border-radius: 10px;
        --box-shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.25);
        --box-shadow-menu: 0px 9px 20px rgba(0, 0, 0, 0.25);

        --introduction-width: 100%;
        --col-2-width: 100%;
        --col-3-width: 100%;

        --margin-default-x: 16px;
        --margin-default-y: 16px;
        --margin-medium-x: 16px;
        --margin-medium-y: 32px;
        --margin-large-x: 16px;
        --margin-large-y: 64px;
        --margin-extra-large-x: 32px;
        --margin-extra-large-y: 100px;

        --progress-bar-position: 14px;
    }
}