* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-default);
    background-color: var(--background-color);
}

/* Generic css */


.center {
    text-align: center !important;
    align-items: center !important;
}

.hidden {
    display: none;
    visibility: hidden;
}

.no-padding {
    padding: 0 !important;
}

ul {
    padding-left: var(--margin-default-x);
    padding-top: var(--margin-default-y);
}

li .key {
    font-weight: bold;
}

/* Margins and padding */
.mt-1 {
    margin-top: 16px;
}

.mt-2 {
    margin-top: 24px;
}

.mt-4 {
    margin-top: 32px;
}

.mb-1 {
    margin-bottom: 16px;
}

.mb-2 {
    margin-bottom: 24px;
}

.mb-4 {
    margin-bottom: 32px;
}


.pt-1 {
    padding-top: 16px;
}

.pt-2 {
    padding-top: 24px;
}

.pt-4 {
    padding-top: 32px;
}

.pb-1 {
    padding-bottom: 16px;
}

.pb-2 {
    padding-bottom: 24px;
}

.pb-4 {
    padding-bottom: 32px;
}

main {
    display: flex;
    margin-left: var(--margin-large-x);
    margin-right: var(--margin-large-x);
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    padding-bottom: 8px;
}

h2 {
    font-family: 'PT Mono', serif;
    font-size: var(--font-size-large);
    padding-bottom: var(--margin-default-y);
    font-weight: 500;
}

h3 {
    font-family: 'PT Mono', serif;
    font-size: var(--font-size-default);
    padding-top: 64px;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-default);
    line-height: var(--font-size-large);
    padding-top: 8px;
    font-weight: 500;
}

p.small {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-small);
    font-weight: 500;
}

a,
a:visited {
    color: var(--primary-color);
}

#testimonials .quote {
    font-style: italic;
    background-image: url(../img/home/quotes.svg);
    background-size: 20%;
    background-repeat: no-repeat;
}

br {
    line-height: 150%;
}

/* Columns */

/* 1 column */

.col-1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    padding-top: var(--margin-large-y);
    padding-bottom: var(--margin-large-y);
}

.col-1 .picture {
    width: 80%;
    text-align: center;
}

.col-1 .col-title {
    padding-bottom: var(--margin-default-y);
}

.col-1 img {
    width: 100%;
}

/* 2 columns */

.col-2 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-top: var(--margin-large-x);
    padding-bottom: var(--margin-large-x);
}

.col-2 .col {
    width: var(--col-2-width);
}

.col-2 img {
    width: 100%;
}

/* 3 columns */

.col-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-top: var(--margin-large-x);
    padding-bottom: var(--margin-large-x);
}

.col-3 .col {
    width: var(--col-3-width);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-3 .col p {
    margin-top: var(--margin-default-y);
}

.col-3 img {
    width: 100%;
}

/* Overlay */
.overlay {
    position: fixed;
    height: 100%;
    background-color: var(--tertiary-color);
}

.overlay.open {
    width: 100%;
    z-index: 1000;
}

.overlay.closed {
    width: 0;
    z-index: 0;
}

/* Buttons */

a.cta-button {
    display: inline-block;
    background-color: var(--secondary-color);

    color: var(--white);
    font-size: var(--font-size-default);

    border: none;
    border-radius: 20px;
    box-shadow: var(--box-shadow-button);

    padding: var(--margin-small-y) var(--margin-default-x) var(--margin-small-y) var(--margin-default-x);
    margin-top: var(--margin-large-y);
    max-width: 250px;
}

.cta-button:hover {
    background-color: var(--primary-color);
}

.cta-button:pressed {
    background-color: var(--secondary-color);
}

.cta-button.disabled {
    background-color: var(--light-grey);
}

.cta-button>i {
    padding-right: var(--margin-small-x)
}

.logo {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    padding-bottom: 8px;
}

.logo-subtitle {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-default);
    font-weight: 500;
}

/* Animated letters */


.letters {
    color: var(--primary-color);
}


.ml11 {
    font-size: 3;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--primary-color);
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml16 {
    padding: 40px 0;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    overflow: hidden;
}

.ml16 .letter {
    display: inline-block;
    line-height: 1em;
}

/* Morph background */

.morph-wrap {
    z-index: -1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.morph {
    position: relative;
    height: 100%;
    fill: var(--tertiary-color);
    flex: none;
    text-align: center;
}

/* Konnect blobs */

.blobs {
    z-index: -1000;
    position: absolute;
    width: 100%;
    height: 100%;
}


.blobs svg {
    z-index: -1000;
    position: absolute;
    width: 100%;
    height: 100%;
}


#blob1 {
    fill: var(--tertiary-color);
}

#blob2 {
    fill: var(--secondary-color);
    opacity: 20%;
    margin-left: 50px;
}


/* MENU */


#menu-desktop {
    width: 15vw;
    text-align: right;
    position: fixed;
    padding: var(--margin-default-x);
}

#menu-desktop li {
    list-style: none;
    margin-top: var(--margin-default-x);
    margin-bottom: var(--margin-default-x);
}

#menu-desktop li .menu-item {
    font-family: 'PT Mono', serif;
    text-decoration: none;
    color: var(--black);
}

#menu-desktop li .menu-item.active {
    color: var(--primary-color);
}

#menu-desktop li .menu-item:hover {
    color: var(--dark-grey);
}

.icon-social {
    padding: 10px;
}

.icon-cta {
    padding: 10px;
    color: var(--light-grey);
}

.icon-back {
    padding-top: var(--margin-default-y);
}

.icon-back a {
    color: var(--light-grey);
}

.icon-back a:hover {
    color: var(--primary-color);
}

/* SCROLL LINE */

.scroll-line-vertical {
    width: 2px;
    background-color: var(--primary-color);
    height: 0%;
    position: fixed;
    margin-left: var(--progress-bar-position);
}

/* MAIN CONTAINER */

.container {
    margin-left: var(--margin-extra-large-x);
    padding-left: var(--margin-large-x);
    padding-right: var(--margin-large-x);
}

/* HOME */

#home {
    justify-content: flex-start;
    padding-top: var(--margin-extra-large-y);
}

#home a {
    text-align: center;
    margin-top: var(--margin-extra-large-y);
}

#home .col-1 {
    padding: 0;
}

#home .headline {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-extra-large);
    padding-bottom: var(--margin-default-y);
    font-weight: 700;
    line-height: 2.5rem;
    text-align: left;
}

#home .sub-headline {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-large);
}

#home .profile-picture {
    width: 30%;
}

#home .introduction-text {
    width: var(--introduction-width);
    font-size: var(--font-size-default);
    line-height: 2rem;
}

#home .profile-picture img {
    border-radius: 50%;
    width: 100%;
}

#home .profile-picture-mobile {
    align-items: center;
    margin-bottom: var(--margin-medium-y);
}

#home .profile-picture-mobile img {
    border-radius: 50%;
    width: 75%;
    max-width: 300px;
    text-align: center;
}

#home .city {
    color: var(--secondary-color);
}

/* USE CASES */

#use-case {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#use-case .introduction {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--margin-large-x);
}

#use-case .headline {
    font-size: var(--font-size-medium);
    line-height: var(--font-size-extra-large);
    font-style: italic;
    padding-top: var(--margin-default-y);
}

#use-case img {
    width: 100%;
}

#use-case .list {
    margin-left: var(--margin-default-x);
    margin-top: var(--margin-default-y);
}

#use-case .list li {
    line-height: 2rem;
    padding-top: 8px;
}

#use-case h2 {
    color: var(--primary-color);
}

#use-case .quote,
#use-case .quote p {
    font-family: 'PT Mono', serif;
    font-size: var(--font-size-medium);
    line-height: var(--font-size-extra-large);
    font-style: italic;
    padding-top: var(--margin-default-y);
}

/* Content wrap */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.content-title {
    text-align: center;
    padding-top: var(--margin-default-y);
    padding-bottom: var(--margin-default-y);
}


/* Footer */

#footer p {
    font-family: 'PT Mono', sans-serif;
    color: var(--dark-grey);
    font-size: var(--font-size-small);
}

/* To the top icon */

.to-the-top,
a.to-the-top {
    color: var(--light-grey);
}